body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(187, 204, 204);
    padding: 10px 20px;
    border-radius: 20px;
    width: 500px;
}
.btn{
    margin: 5px;
    padding: 10px 20px ;
    background-color: rgb(29, 149, 47);
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
}
.btn p{
    display: inline;
    text-align: center;
}