body {
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.modal {
    background-color: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    position: relative;

    opacity: 0;
    overflow: hidden;
    transition: all 0.25s linear;
}
.modal.is-show{
    opacity: 1;
    visibility: visible;
}

.close-icon {
    position: absolute;
    font-weight: bold;
    color: red;
    top: 5px;
    right: 5px;
    cursor: pointer;
    padding: 10px;
    background-color: #ccc;
    border-radius: 5px;
}

.content {
    padding: 20px;
}

.buttons {
    text-align: center;
}

.button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.confirm {
    background-color: #007bff;
    color: #fff;
}

.cancel {
    background-color: #ccc;
}
